*.class

# Package Files #
*.jar
*.war
*.ear
*.key

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.clover
*/nbproject
*/bower_components
*/scripts
*/dist.dev
*/dist.prod
.idea/
*.iml
target/
checkstyle-result.xml
*.local.properties
.classpath
.project

# External tool builders
.externalToolBuilders/

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Runtime data
pids
*.pid
*.seed